
.section1 {
    background-color: #deccff;
    color: #6d1d8e;
    

}
.section1 img {
    width: 40rem;
}


.section1 p{
    font-weight:500;
    color: #1b1615;

}

.section1 button {
    background-color: #731a90;
    padding: 15px;
    width: 10rem;
    color: white;
    font-weight: bold;

}

.section2 h1 {
    color: #5f297f;
}

.job {
    margin: auto;

    width: 70%;
}

.section2 input {
    border: none;
    border-bottom: 1px solid;
}

.section2 button {
    border: none;
    border-bottom: 1px solid;
    color: #5f297f;


}

.section3 svg {
    color: #5f297f;


}


.section3 .sec3-a {
    background-color: #5f297f;
    color: white;

}

.section3 h5,h6,b {
    color: #5f297f;

}
.section3 h5 {
    font-weight: bold;
}

.section4 h1 {
    color: #5f297f;
    margin-top: 30px;

}

.section4 p {
    width: 35rem;

}

.section5 {
    background-color:#1b1615 ;
}
.section5 p {
    color: #b69362;
}

.section5 button {
    color:#5f297f ;
    font-weight: bold;
    padding: 10px;
    width: 10rem;
   
}

footer a {
    text-decoration: none;
    color: grey;
}

footer a:hover {
    color: #5f297f;

}

footer img {
    width: 25px;
    margin: 2px;
}

footer h2 {
    color: #8442a0;

}
.section4 {
    background-color: #f9f9f9;
}
.section4 h1 {
    font-weight: bold;
    font-size: 50px;
}

.section3 .card1 {
    background-color: #ececec;
    border-radius: 10rem;
    padding: 5px;
    width: 12rem;
    height: 10rem;
}

.section3 button {
    border-color: #8442a0;
    color: #5f297f;
    font-weight: bold;
    padding: 10px;
    width: 10rem;

    
}

.section3 button:hover {
    background-color: #5f297f;
    color: white;


}

.section4 img {
    height: 50rem;
}

.section5 img {
    width: 45rem;
}